.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > div {
  flex: 1;
}

.header > div:first-child {
  margin-right: 10px; /* Adjust the margin as needed */
}

.header h1,
.header h2,
.header article {
  text-align: left;
}

.header button {
  margin-top: 10%;
}

.black-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.black-button:hover {
  background-color: #333;
}

.black-button:active {
  background-color: #666;
}
