.booking-form {
   
    display: grid;
    gap: 20px;
    max-width: 200px;
  }
  
  .booking-form label {
    font-weight: bold;
  }
  
  .booking-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .booking-form input[type="submit"]:disabled {
    background-color: #999;
    cursor: not-allowed;
  }
  
  .error {
    border: 1px solid red;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

.grid-book {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    gap: 10px;
    align-items: center;
    margin-top: 5%;

    max-width: 1000px;
   
}

.grid-book > div > img{

    margin-left: 70%;
}


  