.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* Align items vertically to the bottom */
}

.header > div:first-child {
  flex:1;
  text-align: left; /* Align content to the left */
}

.header > div:last-child {

  align-items: right; /* Align content to the right */
  margin-left: 45%;
}

.header > div:last-child img {
  max-width: 250px; /* Adjust the maximum width to your desired size */
  height: auto;
}


.header h1,
.header h2,
.header article {
  text-align: left;
}

.header button {
  margin-top: 10%;
}

.black-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.black-button:hover {
  background-color: #333;
}

.black-button:active {
  background-color: #666;
}
