.customers-say-container {
  display: flex;
  justify-content: space-between;
}

.square {
  width: 200px;
  height: 200px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
}

.square img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.square p {
  font-size: 14px;
  text-align: center;
}
